*{
    box-sizing: border-box;
}

.details{
    width: 80%;
    max-height: 80%;
    margin: 16px auto;
    background-color: white;
    padding:24px;
    border-radius: 24px;
    border: 1px solid rgb(100, 100, 100);
    color:rgb(100, 100, 100);
}

h3{
    text-align: center; 
    font-size: 24px;
    color:rgb(100, 100, 100);     
    font-weight: normal; 
}

.beerWrapper{   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 28%; 
}

.imgWrapper {
   flex-basis: 50%;
}

.imgWrapper img{
    object-fit: cover;
}

.beerContent{
    color:#4F5054;
    padding-left:24px;
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.description{
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.buttonsRow{
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.beerContentLabel{
    font-weight: bold;
    line-height: 2rem;
    padding-right: 1rem;
}

.packages{
    background-color: #C96E12;
    color:#FFF897;
    margin-right: 4px;
}

.userRating{
    display: flex;
    flex-direction: row;
}

.starButton{   
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;     
}

.on {
    color: #000;
  }
  .off {
    color: #ccc;
  }