.wrapperArticle{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
    background-color: white;
    padding:24px;
    border-radius: 24px;
    border: 1px solid rgb(100, 100, 100);
    color:rgb(100, 100, 100);
}

.beerTitle{
    font-size: 24px;
    color:rgb(100, 100, 100);
}

.imgWrapper {
    flex-grow: 1;
    max-width: 80%;
}

.imgWrapper img{
    max-width: 100%;
    border: 1px solid black;
}

.description{
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.packagesSpan{
    background-color: #C96E12;
    color:#FFF897;
    margin-right: 4px;
}

 a{
    color:#FFF897;
    text-decoration: none;
}