
.form {
  margin: 16px auto;  
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  color:rgb(100, 100, 100);
  background-color: white;
  box-sizing: border-box;    
  padding: 20px;
  width: 33%;
  }
  
  .title {    
    color:#F97C2A;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }

  .subtitle {
    font-size: 16px;    
    margin-top: 10px;  
    font-style: italic;
  }

  .navigateLink{
    color:#F97C2A;
    font-weight: 600;
    font-style: normal;
  }
  
  
  .inputContainer {
    margin-top: 20px;
    background-color: white;
  }    
  
  input {
    margin-top:8px;  
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    box-sizing: border-box;    
    font-size: 18px;
    border: none;
    outline: none;    
    width: 100%;
    color:rgb(100, 100, 100);
  } 
  
  .placeholder {
    color: #65657b;   
  }

  .submitButton{
    margin-top: 20px;
  }
  
  .errorP{
    color:red;
    text-align: center;
}
 
