@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body{ 
  color:rgb(37, 36, 36);
  font-family: 'Rubik', sans-serif;
}

.mainHeader{  
  color:#F97C2A;
  text-shadow: 2px 1px 2px rgba(99, 99, 99, 1);
  display:flex;
  align-items: center; 
}

.headerImg{
  margin-left:16px;
  max-width: 72px;
  max-height: 72px;
}


button{
  background-color: #F97C2A;
  color:#FFF897;
  text-shadow: 2px 1px 2px rgba(99, 99, 99, 1);
  font-size: 18px;
  border:none;
  outline: none;
  margin-top: 16px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding:16px;
  max-width: 10rem;
  margin:auto;
  cursor: pointer;
}
